
<!--&lt;!&ndash; /products へアクセスするボタン &ndash;&gt;-->
<!--<p><button type="button" (click)="findProducts()">製品一覧を取得する</button></p>-->
<!--&lt;!&ndash; 製品一覧を取得したら表示する &ndash;&gt;-->
<!--<ul *ngIf="products">-->
<!--  <li *ngFor="let product of products">{{ product.id }} : {{ product.name }} : {{ product.price }}</li>-->
<!--</ul>-->
<!--&lt;!&ndash; 製品一覧の取得に失敗した時のメッセージ &ndash;&gt;-->
<!--<p *ngIf="findProductsErrorMessage">{{ findProductsErrorMessage }}</p>-->

<router-outlet></router-outlet>

<hr />
<p>フッター、すべてのページで表示</p>
<a routerLink="/" routerLinkActive="active">base</a><br />
<a routerLink="/guard" routerLinkActive="active">guard</a><br />
<a routerLink="/login" routerLinkActive="active">loginページ</a><br />

<a routerLink="/members" routerLinkActive="active">members</a><br />
